<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>phase2</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>generic</display-name>
    <servlet-name>generic</servlet-name>
    <servlet-class>com.phase2.asst3.generic</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>generic</servlet-name>
    <url-pattern>/generic</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>first</servlet-name>
    <servlet-class>com.phase2.proj.first</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>first</servlet-name>
    <url-pattern>/firstt</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>welcome</servlet-name>
    <servlet-class>com.phase2.asst1.welcome</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>welcome</servlet-name>
    <url-pattern>/welcome</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>contact</servlet-name>
    <servlet-class>com.phase2.asst1.contact</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>contact</servlet-name>
    <url-pattern>/contact</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>interfacee</display-name>
    <servlet-name>interfacee</servlet-name>
    <servlet-class>com.phase2.asst4.interfacee</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>interfacee</servlet-name>
    <url-pattern>/interfacee</url-pattern>
  </servlet-mapping>
</web-app>