<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>loginn</servlet-name>
  	<display-name>loginn</display-name>
  	<description></description>
  	<servlet-class>com.demo.loginn</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>successservlet</servlet-name>
  	<display-name>successservlet</display-name>
  	<description></description>
  	<servlet-class>com.demo.successservlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>changepassword</servlet-name>
  	<display-name>changepassword</display-name>
  	<description></description>
  	<servlet-class>com.demo.changepassword</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>logout</servlet-name>
  	<display-name>logout</display-name>
  	<description></description>
  	<servlet-class>com.demo.logout</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>insertlocationservlet</servlet-name>
  	<display-name>insertlocationservlet</display-name>
  	<description></description>
  	<servlet-class>com.demo.insertlocationservlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>viewlocations</servlet-name>
  	<display-name>viewlocations</display-name>
  	<description></description>
  	<servlet-class>com.demo.viewlocations</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>deletelocationservlet</servlet-name>
  	<display-name>deletelocationservlet</display-name>
  	<description></description>
  	<servlet-class>com.demo.deletelocationservlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>insertairlineservlet</servlet-name>
  	<display-name>insertairlineservlet</display-name>
  	<description></description>
  	<servlet-class>com.demo.insertairlineservlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>deleteairlineservlet</servlet-name>
  	<display-name>deleteairlineservlet</display-name>
  	<description></description>
  	<servlet-class>com.demo.deleteairlineservlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>viewairlines</servlet-name>
  	<display-name>viewairlines</display-name>
  	<description></description>
  	<servlet-class>com.demo.viewairlines</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>viewflights</servlet-name>
  	<display-name>viewflights</display-name>
  	<description></description>
  	<servlet-class>viewflights</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>insertflightservlet</servlet-name>
  	<display-name>insertflightservlet</display-name>
  	<description></description>
  	<servlet-class>com.demo.insertflightservlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>deleteflightservlet</servlet-name>
  	<display-name>deleteflightservlet</display-name>
  	<description></description>
  	<servlet-class>com.demo.deleteflightservlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>viewflightss</servlet-name>
  	<display-name>viewflightss</display-name>
  	<description></description>
  	<servlet-class>com.demo.viewflights</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>viewflightservlet</servlet-name>
  	<display-name>viewflightservlet</display-name>
  	<description></description>
  	<servlet-class>com.demo.viewflightservlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>availableflight</servlet-name>
  	<display-name>availableflight</display-name>
  	<description></description>
  	<servlet-class>com.demo.availableflight</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>payment</servlet-name>
  	<display-name>payment</display-name>
  	<description></description>
  	<servlet-class>com.demo.payment</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>loginn</servlet-name>
  	<url-pattern>/loginn</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>successservlet</servlet-name>
  	<url-pattern>/successservlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>changepassword</servlet-name>
  	<url-pattern>/changepassword</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>logout</servlet-name>
  	<url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>insertlocationservlet</servlet-name>
  	<url-pattern>/insertlocationservlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>viewlocations</servlet-name>
  	<url-pattern>/viewlocations</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>deletelocationservlet</servlet-name>
  	<url-pattern>/deletelocationservlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>insertairlineservlet</servlet-name>
  	<url-pattern>/insertairlineservlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>deleteairlineservlet</servlet-name>
  	<url-pattern>/deleteairlineservlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>viewairlines</servlet-name>
  	<url-pattern>/viewairlines</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>viewflights</servlet-name>
  	<url-pattern>/viewflights</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>insertflightservlet</servlet-name>
  	<url-pattern>/insertflightservlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>deleteflightservlet</servlet-name>
  	<url-pattern>/deleteflightservlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>viewflightss</servlet-name>
  	<url-pattern>/viewflightss</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>viewflightservlet</servlet-name>
  	<url-pattern>/viewflightservlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>availableflight</servlet-name>
  	<url-pattern>/availableflight</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>payment</servlet-name>
  	<url-pattern>/payment</url-pattern>
  </servlet-mapping>
    <welcome-file-list>
    <welcome-file>home.jsp</welcome-file>
  </welcome-file-list>
</web-app>
