<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>practise1</display-name>
  <welcome-file-list>
    <welcome-file>login.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>loginnn</display-name>
    <servlet-name>loginnn</servlet-name>
    <servlet-class>com.phase2.practise1.loginnn</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginnn</servlet-name>
    <url-pattern>/logint</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>successservlet</display-name>
    <servlet-name>successservlet</servlet-name>
    <servlet-class>com.phase2.practise1.successservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>successservlet</servlet-name>
    <url-pattern>/successservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>logout</display-name>
    <servlet-name>logout</servlet-name>
    <servlet-class>com.phase2.practise1.logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>logout</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
</web-app>